<div class="page-content">

    <!-- Page-Title -->
    <div class="page-title-box">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title mb-1">اضافة شركة </h4>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">لادارة الشركات</a></li>
                    <li class="breadcrumb-item active">اضافة شركة </li>
                    </ol>
                </div>
            </div>

        </div>
    </div>
    <!-- end page title end breadcrumb -->

    <div class="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-2 col-form-label">اسم الشركة</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" id="example-text-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-number-input" class="col-md-2 col-form-label">رقم السجل التجاري</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="number" id="example-number-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-number-input" class="col-md-2 col-form-label"> الايميل </label>
                                <div class="col-md-10">
                                    <input class="form-control" type="number" id="example-number-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-number-input" class="col-md-2 col-form-label"> رقم الجوال </label>
                                <div class="col-md-10">
                                    <input class="form-control" type="number" id="example-number-input">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label">المدينة</label>
                                <div class="col-md-10">
                                    <select class="custom-select">
                                        <option value="1">اختر المدينة</option>
                                        <option value="1">الرياض</option>
                                        <option value="2">جده</option>
                                        <option value="3">مكه</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-number-input" class="col-md-2 col-form-label"> العنوان  </label>
                                <div class="col-md-10">
                                    <input class="form-control" type="number" id="example-number-input">
                                </div>
                            </div>
                              <div class="form-group row">
                                <label for="example-number-input" class="col-md-2 col-form-label">   </label>
                                <div class="col-md-10">
                                    <button type="button" class="btn btn-primary btn-block waves-effect waves-light">اضافة الشركة  </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
        </div>
        <!-- end container-fluid -->
    </div> 
    <!-- end page-content-wrapper -->
</div>